.star::after {
  position: absolute;
  top: calc(50% - 1px);
  left: -950%;
  width: 2000%;
  height: 2px;
  content: "";
  background: linear-gradient(to left, #fff0, #eee);
  transform: rotateZ(-45deg) translateX(50%);
}
